/*reset*/
html,body,div,p,span,em,i,u,del,strong,a,b,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,iframe,form,label,button,input,textarea,pre,hr,table,tbody,th,td{margin:0;padding:0;word-wrap:break-word;word-break:break-all}
html,body{width:100%;height:100%;}
html{font-size:16px;font-size:calc(100% + 2 * (100vw - 375px)/ 39);font-size:calc(16px + 2 * (100vw - 375px)/ 39)}
@media screen and (max-width:320px){
    html{font-size:16px}
}
@media screen and (min-width:414px){
    html {
        font-size:calc(112.5% + 4 * (100vw - 414px)/ 586);
        font-size:calc(18px + 4 * (100vw - 414px)/ 586)}
}
@media screen and (min-width:600px){
    html{
        font-size:calc(125% + 4 * (100vw - 600px)/ 400);
        font-size:calc(20px + 4 * (100vw - 600px)/ 400)
    }
}
@media screen and (min-width:1000px){
    html{
        font-size:calc(137.5% + 6 * (100vw - 1000px)/ 1000);
        font-size:calc(22px + 6 * (100vw - 1000px)/ 1000)
    }
}
body,button,input,select,textarea{font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;}
body{font-family:sans-serif;line-height:1.5;-webkit-user-select:none;color:#333;fill:currentColor;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:none;-webkit-touch-callout:none}
em,i{font-style:normal}
ul,ol{list-style:none}
input,select,textarea{font-family:inherit;box-sizing:border-box}
input[type=text]{-webkit-border-radius:0}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none;}
img{display:block;width: 100%;}
a{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-touch-callout: none;-webkit-user-select: none;text-decoration:none;color:inherit;outline:0}
/*a[href]:active,button:active{background-image:-webkit-linear-gradient(to top,rgba(0,0,0,.05),rgba(0,0,0,.05));background-image:linear-gradient(to top,rgba(0,0,0,.05),rgba(0,0,0,.05))}*/
body.iphone a[href]:active,body.iphone button:active{background-image:none}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.fleft{float:left}
.fright{float:right}
div {
    /*关键代码*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* end reset*/


/* puclic */
.flex{display: flex;display: -webkit-flex;display: -webkit-box;}
.flex-box{-webkit-box-align: center;align-items: center;-webkit-align-items: center;}
.flex-justify{-webkit-box-pack: justify;-webkit-justify-content: space-between;justify-content: space-between;}
.flex-center{-webkit-box-pack: center;-webkit-justify-content: center;justify-content: center;}
.flex-direction{flex-direction: column;-webkit-flex-direction: column;-webkit-box-orient: vertical;}
/* 主容器*/
.wrapper{min-width:320px;position: relative;}






